<nav class="navbar navbar-expand-md navbar-light">
    <div class="collapse navbar-collapse" id="eXeLearningNavbar">
        <button id="exe-panels-toggler" class="btn me-2 nav-link" title="{{ "Toggle panels" | trans }}" aria-hidden="true">
            <span class="auto-icon">menu</span>
            <span class="visually-hidden">{{ "Toggle panels" | trans }}</span>
        </button>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdownFile" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ "File" | trans }}
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownFile">
                    <li><a class="dropdown-item" id="navbar-button-new" href="#">{{ "New" | trans }}</a></li>
                    <li><a class="dropdown-item" id="navbar-button-openuserodefiles" href="#">{{ "Open" | trans }}</a></li>
                    <li class="dropdown dropend">
                        <a class="dropdown-item dropdown-toggle" href="#" id="navbar-button-dropdown-recent-projects" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ "Recent projects" | trans }}
                        </a>
                        <ul class="dropdown-menu" id="navbar-dropdown-menu-recent-projects" aria-labelledby="navbar-button-dropdown-recent-projects">
                            <li class="text-center">...</li>
                        </ul>
                    </li>
                    <li class="dropdown-divider"></li>
                    <li><a id="navbar-button-save" class="dropdown-item" href="#">{{ "Save" | trans }}</a></li>
                    <li class="d-none"><a id="navbar-button-save-as" class="dropdown-item exe-online" href="#">{{ "Save as" | trans }}</a></li>
                    <li class="dropdown dropend">
                        <a class="dropdown-item dropdown-toggle" href="#" id="dropdownExportAs" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ "Download as..." | trans }}</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownExportAs">
                            <li><a class="dropdown-item exe-advanced" id="navbar-button-download-project" href="#">{{ "eXeLearning content" | trans }} ({{ constant('App\\Constants::FILE_EXTENSION_ELP' ) }})</a></li>
                            <li><a id="navbar-button-export-html5" class="dropdown-item" href="#">{{ "Website" | trans }}</a></li>
                            <li><a id="navbar-button-export-html5-sp" class="dropdown-item" href="#">{{ "Single page" | trans }}</a></li>
                            <li><a id="navbar-button-export-scorm12" class="dropdown-item" href="#">{{ "SCORM 1.2" | trans }}</a></li>
                            <li><a id="navbar-button-export-scorm2004" class="dropdown-item exe-advanced" href="#">{{ "SCORM 2004" | trans }}</a></li>
                            <li><a id="navbar-button-export-ims" class="dropdown-item exe-advanced" href="#">{{ "IMS CP" | trans }}</a></li>
                            <li><a id="navbar-button-export-epub3" class="dropdown-item" href="#">{{ "ePub3" | trans }}</a></li>
                        </ul>
                    </li>
                    {#<li class="dropdown dropend exe-advanced">
                        <a class="dropdown-item dropdown-toggle" href="#" id="dropdownUploadTo" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ "Upload to" | trans }}</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownUploadTo">
                            <li><a id="navbar-button-uploadtodrive" class="dropdown-item" href="#">{{ "Google Drive" | trans }}</a></li>
                            <li><a id="navbar-button-uploadtodropbox" class="dropdown-item" href="#">{{ "Dropbox" | trans }}</a></li>
                            {% if config.platformIntegration %} 
                                <li><a id="navbar-button-uploadtoplatform" class="dropdown-item" href="#">{{ config.platformName | trans }}</a></li>
                            {% endif %}
                        </ul>
                    </li>#}
                    {% if config.platformIntegration %} 
                    <li class="dropdown dropend exe-advanced">
                        <a class="dropdown-item dropdown-toggle" href="#" id="dropdownUploadTo" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ "Upload to" | trans }}</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownUploadTo">
                            <li><a id="navbar-button-uploadtoplatform" class="dropdown-item" href="#">{{ config.platformName | trans }}</a></li>
                        </ul>
                    </li>
                    {% endif %}
                    <li class="dropdown dropend exe-advanced d-none">
                        <a class="dropdown-item dropdown-toggle" href="#" id="dropdownProperties" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ "Metadata" | trans }}</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownProperties">
                            <li><a id="navbar-button-import-xml-properties" class="dropdown-item" href="#">{{ "Import" | trans }}</a></li>
                            <li><a id="navbar-button-export-xml-properties" class="dropdown-item" href="#">{{ "Export" | trans }}</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdownUtilities" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ "Utilities" | trans }}
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownUtilities">
                    {# <li><a class="dropdown-item" id="navbar-button-preferences" href="#">{{ "Preferences" | trans }}</a></li> #}
                    <li><a class="dropdown-item" id="navbar-button-preview" href="#">{{ "Preview" | trans }}</a></li>
                    <li><a class="dropdown-item exe-advanced" id="navbar-button-idevice-manager" href="#">{{ "iDevice manager" | trans }}</a></li>
                    <li><a class="dropdown-item exe-advanced" id="navbar-button-odeusedfiles" href="#">{{ "Resources report" | trans }}</a></li>
                    <li><a class="dropdown-item exe-advanced" id="navbar-button-odebrokenlinks" href="#">{{ "Link validation" | trans }}</a></li>
                    <li><a class="dropdown-item exe-advanced" id="navbar-button-filemanager" href="#">{{ "File manager" | trans }}</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown"><a class="nav-link dropdown-item" href="#" id="dropdownStyles">{{ "Styles" | trans }}</a></li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdownHelp" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ "Help" | trans }}
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownHelp">
                    <li><a class="dropdown-item" id="navbar-button-assistant" href="#">{{ "Assistant" | trans }}</a></li>
                    <li><a class="dropdown-item" id="navbar-button-exe-tutorial" href="#">{{ "User manual" | trans }}</a></li>
                    <li class="dropdown-divider"></li>
                    <li><a class="dropdown-item" id="navbar-button-about-exe" href="#">{{ "About eXeLearning" | trans }}</a></li>
                    <li><a class="dropdown-item" id="navbar-button-release-notes" href="#">{{ "Release notes" | trans }}</a></li>
                    <li><a class="dropdown-item" id="navbar-button-legal-notes" href="#">{{ "Legal notes" | trans }}</a></li>
                    <li class="dropdown-divider"></li>
                    <li><a class="dropdown-item" id="navbar-button-exe-web" href="#">{{ "eXeLearning website" | trans }}</a></li>
                    <li><a class="dropdown-item" id="navbar-button-report-bug" href="#">{{ "Report a bug" | trans }}</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
